<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heatmaps</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 700px;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel {
        background-color: #fff;
        border: 1px solid #999;
        left: 25%;
        padding: 5px;
        position: absolute;
        top: 10px;
        z-index: 5;
      }
    </style>
  </head>

  <body>
    <div id="floating-panel">

      <button id="changeGradient">Change gradient</button>
      <button id="changeRadius">Change radius</button>
      <button id="changeOpacity">Change opacity</button>
      <button id="toggleHeatmap">Toggle Heatmap</button>
      <button id="calculateRoute">Get directions</button>
    </div>
    <div id="map"></div>

    <script>

      // This example requires the Visualization library. Include the libraries=visualization
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">


      function initMap() {

        var map, heatmap;
        var directionsDisplay = new google.maps.DirectionsRenderer();
        var directionsService = new google.maps.DirectionsService();

        var origin = new google.maps.LatLng(41.872070, -87.624302);
        var destination = new google.maps.LatLng(41.685366, -87.614213);

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 41.872070, lng: -87.624302}
        });

        directionsDisplay.setMap(map);

        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map
        });

      function calculateRoute(){

          var request = {
              origin: origin,
              destination: destination,
              travelMode: 'DRIVING',
              provideRouteAlternatives: true
          };


          directionsService.route(request, function(result, status) {
              if(status == "OK"){
                  directionsDisplay.setDirections(result);
              }
          });
      }

      function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
      }
      function changeGradient() {
        var gradient = [
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }

      function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 50);
      }

      function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
      }

        document.getElementById('calculateRoute').onclick = function () {
            calculateRoute();
        }
        document.getElementById('toggleHeatmap').onclick = function () {
            toggleHeatmap();
        }
        document.getElementById('changeGradient').onclick = function () {
            changeGradient();
        }
        document.getElementById('changeRadius').onclick = function () {
            changeRadius();
        }
        document.getElementById('changeOpacity').onclick = function () {
            changeOpacity();
        }
      }

      function getPoints() {
        return [

          {location: new google.maps.LatLng(41.88,-87.62), weight: 9717},
          {location: new google.maps.LatLng(41.89,-87.62), weight: 8535},
          {location: new google.maps.LatLng(41.87,-87.72), weight: 3948},
          {location: new google.maps.LatLng(41.88,-87.63), weight: 3840},
          {location: new google.maps.LatLng(41.87,-87.62), weight: 3716},
          {location: new google.maps.LatLng(41.89,-87.63), weight: 3422},
          {location: new google.maps.LatLng(41.89,-87.71), weight: 3413},
          {location: new google.maps.LatLng(41.86,-87.72), weight: 3069},
          {location: new google.maps.LatLng(41.74,-87.60), weight: 2949},
          {location: new google.maps.LatLng(41.86,-87.71), weight: 2921},
          {location: new google.maps.LatLng(41.75,-87.56), weight: 2910},
          {location: new google.maps.LatLng(41.90,-87.63), weight: 2828},
          {location: new google.maps.LatLng(41.87,-87.74), weight: 2693},
          {location: new google.maps.LatLng(41.88,-87.72), weight: 2624},
          {location: new google.maps.LatLng(41.86,-87.70), weight: 2429},
          {location: new google.maps.LatLng(41.88,-87.76), weight: 2407},
          {location: new google.maps.LatLng(41.75,-87.64), weight: 2373},
          {location: new google.maps.LatLng(41.76,-87.57), weight: 2360},
          {location: new google.maps.LatLng(41.88,-87.75), weight: 2352},
          {location: new google.maps.LatLng(41.89,-87.72), weight: 2339},
          {location: new google.maps.LatLng(41.75,-87.60), weight: 2332},
          {location: new google.maps.LatLng(41.96,-87.65), weight: 2313},
          {location: new google.maps.LatLng(41.85,-87.71), weight: 2279},
          {location: new google.maps.LatLng(41.93,-87.64), weight: 2254},
          {location: new google.maps.LatLng(41.88,-87.64), weight: 2174},
          {location: new google.maps.LatLng(41.87,-87.73), weight: 2141},
          {location: new google.maps.LatLng(41.90,-87.72), weight: 2130},
          {location: new google.maps.LatLng(41.94,-87.64), weight: 2118},
          {location: new google.maps.LatLng(41.75,-87.55), weight: 2074},
          {location: new google.maps.LatLng(41.76,-87.66), weight: 2019},
          {location: new google.maps.LatLng(41.77,-87.61), weight: 2008},
          {location: new google.maps.LatLng(41.87,-87.70), weight: 2007},
          {location: new google.maps.LatLng(41.89,-87.75), weight: 2001},
          {location: new google.maps.LatLng(41.90,-87.67), weight: 1977},
          {location: new google.maps.LatLng(41.94,-87.65), weight: 1925},
          {location: new google.maps.LatLng(41.77,-87.66), weight: 1899},
          {location: new google.maps.LatLng(41.85,-87.72), weight: 1888},
          {location: new google.maps.LatLng(41.76,-87.58), weight: 1872},
          {location: new google.maps.LatLng(41.76,-87.62), weight: 1863},
          {location: new google.maps.LatLng(41.86,-87.62), weight: 1843},
          {location: new google.maps.LatLng(41.77,-87.64), weight: 1837},
          {location: new google.maps.LatLng(41.88,-87.70), weight: 1830},
          {location: new google.maps.LatLng(41.77,-87.68), weight: 1826},
          {location: new google.maps.LatLng(41.69,-87.62), weight: 1825},
          {location: new google.maps.LatLng(42.01,-87.67), weight: 1817},
          {location: new google.maps.LatLng(41.76,-87.64), weight: 1779},
          {location: new google.maps.LatLng(41.74,-87.66), weight: 1779},
          {location: new google.maps.LatLng(41.97,-87.65), weight: 1767},
          {location: new google.maps.LatLng(41.87,-87.71), weight: 1759},
          {location: new google.maps.LatLng(41.89,-87.76), weight: 1752},
          {location: new google.maps.LatLng(41.76,-87.68), weight: 1714},
          {location: new google.maps.LatLng(41.75,-87.61), weight: 1701},
          {location: new google.maps.LatLng(41.78,-87.61), weight: 1694},
          {location: new google.maps.LatLng(41.75,-87.58), weight: 1658},
          {location: new google.maps.LatLng(41.78,-87.66), weight: 1655},
          {location: new google.maps.LatLng(41.86,-87.63), weight: 1655},
          {location: new google.maps.LatLng(41.87,-87.63), weight: 1648},
          {location: new google.maps.LatLng(41.75,-87.62), weight: 1634},
          {location: new google.maps.LatLng(41.88,-87.73), weight: 1624},
          {location: new google.maps.LatLng(41.80,-87.66), weight: 1622},
          {location: new google.maps.LatLng(41.70,-87.62), weight: 1617},
          {location: new google.maps.LatLng(41.80,-87.61), weight: 1611},
          {location: new google.maps.LatLng(41.76,-87.65), weight: 1608},
          {location: new google.maps.LatLng(41.90,-87.75), weight: 1603},
          {location: new google.maps.LatLng(41.91,-87.63), weight: 1592},
          {location: new google.maps.LatLng(41.77,-87.60), weight: 1585},
          {location: new google.maps.LatLng(41.77,-87.69), weight: 1570},
          {location: new google.maps.LatLng(41.87,-87.75), weight: 1565},
          {location: new google.maps.LatLng(41.85,-87.70), weight: 1554},
          {location: new google.maps.LatLng(41.75,-87.66), weight: 1521},
          {location: new google.maps.LatLng(41.75,-87.65), weight: 1519},
          {location: new google.maps.LatLng(41.89,-87.74), weight: 1491},
          {location: new google.maps.LatLng(41.75,-87.63), weight: 1483},
          {location: new google.maps.LatLng(41.87,-87.69), weight: 1478},
          {location: new google.maps.LatLng(41.88,-87.74), weight: 1476},
          {location: new google.maps.LatLng(41.76,-87.56), weight: 1466},
          {location: new google.maps.LatLng(41.84,-87.70), weight: 1458},
          {location: new google.maps.LatLng(41.90,-87.71), weight: 1458},
          {location: new google.maps.LatLng(41.83,-87.61), weight: 1446},
          {location: new google.maps.LatLng(41.92,-87.64), weight: 1428},
          {location: new google.maps.LatLng(41.93,-87.65), weight: 1427},
          {location: new google.maps.LatLng(41.90,-87.64), weight: 1424},
          {location: new google.maps.LatLng(41.87,-87.68), weight: 1414},
          {location: new google.maps.LatLng(41.78,-87.65), weight: 1408},
          {location: new google.maps.LatLng(41.96,-87.71), weight: 1399},
          {location: new google.maps.LatLng(41.80,-87.60), weight: 1397},
          {location: new google.maps.LatLng(41.90,-87.76), weight: 1387},
          {location: new google.maps.LatLng(41.77,-87.58), weight: 1383},
          {location: new google.maps.LatLng(41.73,-87.60), weight: 1379},
          {location: new google.maps.LatLng(41.74,-87.65), weight: 1348},
          {location: new google.maps.LatLng(41.73,-87.55), weight: 1331},
          {location: new google.maps.LatLng(41.79,-87.66), weight: 1331},
          {location: new google.maps.LatLng(41.73,-87.62), weight: 1327},
          {location: new google.maps.LatLng(41.84,-87.71), weight: 1321},
          {location: new google.maps.LatLng(41.85,-87.62), weight: 1319},
          {location: new google.maps.LatLng(41.97,-87.90), weight: 1317},
          {location: new google.maps.LatLng(41.74,-87.55), weight: 1298},
          {location: new google.maps.LatLng(41.79,-87.62), weight: 1296},
          {location: new google.maps.LatLng(41.90,-87.62), weight: 1296},
          {location: new google.maps.LatLng(41.88,-87.68), weight: 1293},
          {location: new google.maps.LatLng(41.89,-87.61), weight: 1291},
          {location: new google.maps.LatLng(41.88,-87.66), weight: 1290},
          {location: new google.maps.LatLng(41.90,-87.66), weight: 1289},
          {location: new google.maps.LatLng(41.90,-87.74), weight: 1285},
          {location: new google.maps.LatLng(41.78,-87.64), weight: 1255},
          {location: new google.maps.LatLng(42.00,-87.66), weight: 1254},
          {location: new google.maps.LatLng(41.74,-87.63), weight: 1243},
          {location: new google.maps.LatLng(41.72,-87.62), weight: 1240},
          {location: new google.maps.LatLng(41.77,-87.67), weight: 1237},
          {location: new google.maps.LatLng(41.77,-87.65), weight: 1229},
          {location: new google.maps.LatLng(41.82,-87.61), weight: 1224},
          {location: new google.maps.LatLng(41.75,-87.57), weight: 1224},
          {location: new google.maps.LatLng(41.86,-87.69), weight: 1220},
          {location: new google.maps.LatLng(41.90,-87.69), weight: 1210},
          {location: new google.maps.LatLng(41.90,-87.73), weight: 1210},
          {location: new google.maps.LatLng(41.78,-87.68), weight: 1201},
          {location: new google.maps.LatLng(41.88,-87.65), weight: 1199},
          {location: new google.maps.LatLng(41.84,-87.72), weight: 1196},
          {location: new google.maps.LatLng(41.67,-87.62), weight: 1191},
          {location: new google.maps.LatLng(41.77,-87.63), weight: 1184},
          {location: new google.maps.LatLng(41.91,-87.67), weight: 1183},
          {location: new google.maps.LatLng(41.99,-87.68), weight: 1182},
          {location: new google.maps.LatLng(41.81,-87.60), weight: 1179},
          {location: new google.maps.LatLng(41.74,-87.64), weight: 1176},
          {location: new google.maps.LatLng(41.86,-87.65), weight: 1169},
          {location: new google.maps.LatLng(41.91,-87.68), weight: 1166},
          {location: new google.maps.LatLng(41.79,-87.65), weight: 1162},
          {location: new google.maps.LatLng(41.89,-87.70), weight: 1143},
          {location: new google.maps.LatLng(41.93,-87.71), weight: 1132},
          {location: new google.maps.LatLng(41.76,-87.61), weight: 1128},
          {location: new google.maps.LatLng(41.91,-87.71), weight: 1112},
          {location: new google.maps.LatLng(41.69,-87.61), weight: 1108},
          {location: new google.maps.LatLng(41.91,-87.64), weight: 1100},
          {location: new google.maps.LatLng(41.65,-87.60), weight: 1100},
          {location: new google.maps.LatLng(41.87,-87.76), weight: 1091},
          {location: new google.maps.LatLng(41.88,-87.71), weight: 1089},
          {location: new google.maps.LatLng(41.74,-87.56), weight: 1087},
          {location: new google.maps.LatLng(41.76,-87.63), weight: 1086},
          {location: new google.maps.LatLng(41.92,-87.70), weight: 1079},
          {location: new google.maps.LatLng(41.84,-87.62), weight: 1075},
          {location: new google.maps.LatLng(41.76,-87.67), weight: 1073},
          {location: new google.maps.LatLng(41.87,-87.64), weight: 1073},
          {location: new google.maps.LatLng(41.80,-87.62), weight: 1066},
          {location: new google.maps.LatLng(41.93,-87.72), weight: 1065},
          {location: new google.maps.LatLng(41.99,-87.69), weight: 1059},
          {location: new google.maps.LatLng(41.91,-87.65), weight: 1055},
          {location: new google.maps.LatLng(41.68,-87.62), weight: 1047},
          {location: new google.maps.LatLng(41.98,-87.65), weight: 1045},
          {location: new google.maps.LatLng(41.78,-87.62), weight: 1044},
          {location: new google.maps.LatLng(41.73,-87.65), weight: 1042},
          {location: new google.maps.LatLng(41.83,-87.62), weight: 1042},
          {location: new google.maps.LatLng(42.01,-87.66), weight: 1041},
          {location: new google.maps.LatLng(41.77,-87.70), weight: 1034},
          {location: new google.maps.LatLng(41.96,-87.72), weight: 1023},
          {location: new google.maps.LatLng(41.79,-87.58), weight: 1022},
          {location: new google.maps.LatLng(41.92,-87.65), weight: 1018},
          {location: new google.maps.LatLng(41.86,-87.73), weight: 1017},
          {location: new google.maps.LatLng(41.72,-87.66), weight: 1007},
          {location: new google.maps.LatLng(41.81,-87.61), weight: 1004},
          {location: new google.maps.LatLng(41.95,-87.65), weight: 990},
          {location: new google.maps.LatLng(41.91,-87.69), weight: 990},
          {location: new google.maps.LatLng(41.98,-87.66), weight: 988},
          {location: new google.maps.LatLng(41.89,-87.64), weight: 982},
          {location: new google.maps.LatLng(41.92,-87.69), weight: 976},
          {location: new google.maps.LatLng(41.79,-87.67), weight: 976},
          {location: new google.maps.LatLng(41.73,-87.64), weight: 975},
          {location: new google.maps.LatLng(41.90,-87.68), weight: 968},
          {location: new google.maps.LatLng(41.78,-87.70), weight: 968},
          {location: new google.maps.LatLng(41.78,-87.69), weight: 963},
          {location: new google.maps.LatLng(41.92,-87.75), weight: 961},
          {location: new google.maps.LatLng(41.89,-87.66), weight: 959},
          {location: new google.maps.LatLng(42.01,-87.68), weight: 956},
          {location: new google.maps.LatLng(41.75,-87.59), weight: 955},
          {location: new google.maps.LatLng(41.83,-87.64), weight: 947},
          {location: new google.maps.LatLng(41.92,-87.66), weight: 946},
          {location: new google.maps.LatLng(41.73,-87.66), weight: 943},
          {location: new google.maps.LatLng(41.78,-87.60), weight: 938},
          {location: new google.maps.LatLng(41.91,-87.70), weight: 936},
          {location: new google.maps.LatLng(41.93,-87.74), weight: 926},
          {location: new google.maps.LatLng(41.85,-87.66), weight: 926},
          {location: new google.maps.LatLng(41.79,-87.64), weight: 920},
          {location: new google.maps.LatLng(41.80,-87.67), weight: 914},
          {location: new google.maps.LatLng(41.81,-87.62), weight: 907},
          {location: new google.maps.LatLng(41.79,-87.63), weight: 898},
          {location: new google.maps.LatLng(41.96,-87.66), weight: 885},
          {location: new google.maps.LatLng(41.72,-87.65), weight: 873},
          {location: new google.maps.LatLng(41.88,-87.67), weight: 867},
          {location: new google.maps.LatLng(41.85,-87.69), weight: 867},
          {location: new google.maps.LatLng(41.85,-87.73), weight: 864},
          {location: new google.maps.LatLng(41.88,-87.77), weight: 860},
          {location: new google.maps.LatLng(41.87,-87.67), weight: 860},
          {location: new google.maps.LatLng(41.68,-87.64), weight: 859},
          {location: new google.maps.LatLng(41.82,-87.62), weight: 855},
          {location: new google.maps.LatLng(41.79,-87.61), weight: 855},
          {location: new google.maps.LatLng(41.77,-87.62), weight: 848},
          {location: new google.maps.LatLng(41.85,-87.68), weight: 846},
          {location: new google.maps.LatLng(41.88,-87.61), weight: 843},
          {location: new google.maps.LatLng(41.89,-87.67), weight: 840},
          {location: new google.maps.LatLng(41.67,-87.63), weight: 834},
          {location: new google.maps.LatLng(41.99,-87.66), weight: 831},
          {location: new google.maps.LatLng(41.79,-87.70), weight: 829},
          {location: new google.maps.LatLng(41.91,-87.72), weight: 826},
          {location: new google.maps.LatLng(41.96,-87.70), weight: 825},
          {location: new google.maps.LatLng(41.74,-87.61), weight: 820},
          {location: new google.maps.LatLng(41.85,-87.63), weight: 816},
          {location: new google.maps.LatLng(41.80,-87.59), weight: 814},
          {location: new google.maps.LatLng(41.91,-87.73), weight: 812},
          {location: new google.maps.LatLng(41.71,-87.62), weight: 809},
          {location: new google.maps.LatLng(41.70,-87.61), weight: 808},
          {location: new google.maps.LatLng(41.93,-87.76), weight: 804},
          {location: new google.maps.LatLng(41.77,-87.59), weight: 799},
          {location: new google.maps.LatLng(41.92,-87.68), weight: 796},
          {location: new google.maps.LatLng(41.70,-87.64), weight: 792},
          {location: new google.maps.LatLng(41.73,-87.58), weight: 788},
          {location: new google.maps.LatLng(41.80,-87.58), weight: 786},
          {location: new google.maps.LatLng(41.76,-87.59), weight: 783},
          {location: new google.maps.LatLng(41.72,-87.55), weight: 782},
          {location: new google.maps.LatLng(41.93,-87.66), weight: 780},
          {location: new google.maps.LatLng(41.86,-87.66), weight: 780},
          {location: new google.maps.LatLng(41.68,-87.63), weight: 775},
          {location: new google.maps.LatLng(41.91,-87.76), weight: 772},
          {location: new google.maps.LatLng(41.85,-87.67), weight: 771},
          {location: new google.maps.LatLng(41.72,-87.63), weight: 766},
          {location: new google.maps.LatLng(41.93,-87.70), weight: 764},
          {location: new google.maps.LatLng(41.88,-87.69), weight: 763},
          {location: new google.maps.LatLng(41.80,-87.68), weight: 762},
          {location: new google.maps.LatLng(41.97,-87.69), weight: 761},
          {location: new google.maps.LatLng(42.00,-87.67), weight: 760},
          {location: new google.maps.LatLng(41.92,-87.76), weight: 759},
          {location: new google.maps.LatLng(41.77,-87.57), weight: 741},
          {location: new google.maps.LatLng(41.85,-87.65), weight: 736},
          {location: new google.maps.LatLng(41.73,-87.54), weight: 735},
          {location: new google.maps.LatLng(41.84,-87.69), weight: 733},
          {location: new google.maps.LatLng(41.92,-87.71), weight: 733},
          {location: new google.maps.LatLng(41.91,-87.75), weight: 728},
          {location: new google.maps.LatLng(41.93,-87.75), weight: 724},
          {location: new google.maps.LatLng(41.94,-87.66), weight: 720},
          {location: new google.maps.LatLng(41.81,-87.69), weight: 719},
          {location: new google.maps.LatLng(41.99,-87.65), weight: 716},
          {location: new google.maps.LatLng(41.86,-87.64), weight: 714},
          {location: new google.maps.LatLng(41.92,-87.67), weight: 713},
          {location: new google.maps.LatLng(41.91,-87.74), weight: 713},
          {location: new google.maps.LatLng(41.89,-87.65), weight: 712},
          {location: new google.maps.LatLng(41.78,-87.67), weight: 710},
          {location: new google.maps.LatLng(41.76,-87.60), weight: 710},
          {location: new google.maps.LatLng(41.82,-87.60), weight: 706},
          {location: new google.maps.LatLng(41.68,-87.66), weight: 705},
          {location: new google.maps.LatLng(41.99,-87.70), weight: 703},
          {location: new google.maps.LatLng(41.92,-87.72), weight: 699},
          {location: new google.maps.LatLng(41.79,-87.60), weight: 699},
          {location: new google.maps.LatLng(41.79,-87.59), weight: 697},
          {location: new google.maps.LatLng(41.70,-87.60), weight: 690},
          {location: new google.maps.LatLng(41.87,-87.65), weight: 685},
          {location: new google.maps.LatLng(41.90,-87.77), weight: 681},
          {location: new google.maps.LatLng(41.99,-87.67), weight: 675},
          {location: new google.maps.LatLng(41.89,-87.77), weight: 674},
          {location: new google.maps.LatLng(41.95,-87.71), weight: 672},
          {location: new google.maps.LatLng(41.72,-87.60), weight: 668},
          {location: new google.maps.LatLng(41.68,-87.61), weight: 659},
          {location: new google.maps.LatLng(41.71,-87.64), weight: 656},
          {location: new google.maps.LatLng(41.89,-87.68), weight: 656},
          {location: new google.maps.LatLng(41.95,-87.72), weight: 655},
          {location: new google.maps.LatLng(41.93,-87.68), weight: 653},
          {location: new google.maps.LatLng(41.97,-87.66), weight: 653},
          {location: new google.maps.LatLng(41.72,-87.57), weight: 653},
          {location: new google.maps.LatLng(41.80,-87.74), weight: 650},
          {location: new google.maps.LatLng(41.92,-87.77), weight: 649},
          {location: new google.maps.LatLng(41.70,-87.56), weight: 647},
          {location: new google.maps.LatLng(41.95,-87.74), weight: 644},
          {location: new google.maps.LatLng(41.72,-87.58), weight: 640},
          {location: new google.maps.LatLng(41.96,-87.68), weight: 636},
          {location: new google.maps.LatLng(41.74,-87.58), weight: 635},
          {location: new google.maps.LatLng(41.87,-87.66), weight: 635},
          {location: new google.maps.LatLng(41.80,-87.70), weight: 622},
          {location: new google.maps.LatLng(41.65,-87.61), weight: 619},
          {location: new google.maps.LatLng(41.92,-87.74), weight: 616},
          {location: new google.maps.LatLng(41.66,-87.63), weight: 614},
          {location: new google.maps.LatLng(41.96,-87.67), weight: 611},
          {location: new google.maps.LatLng(41.81,-87.66), weight: 611},
          {location: new google.maps.LatLng(41.70,-87.63), weight: 609},
          {location: new google.maps.LatLng(41.80,-87.65), weight: 608},
          {location: new google.maps.LatLng(41.80,-87.72), weight: 608},
          {location: new google.maps.LatLng(41.72,-87.64), weight: 606},
          {location: new google.maps.LatLng(42.02,-87.67), weight: 605},
          {location: new google.maps.LatLng(41.77,-87.72), weight: 605},
          {location: new google.maps.LatLng(41.92,-87.78), weight: 604},
          {location: new google.maps.LatLng(41.89,-87.69), weight: 602},
          {location: new google.maps.LatLng(41.69,-87.64), weight: 599},
          {location: new google.maps.LatLng(41.98,-87.69), weight: 597},
          {location: new google.maps.LatLng(41.94,-87.71), weight: 593},
          {location: new google.maps.LatLng(41.94,-87.72), weight: 593},
          {location: new google.maps.LatLng(41.95,-87.70), weight: 584},
          {location: new google.maps.LatLng(41.92,-87.73), weight: 584},
          {location: new google.maps.LatLng(41.72,-87.59), weight: 583},
          {location: new google.maps.LatLng(41.65,-87.59), weight: 583},
          {location: new google.maps.LatLng(41.79,-87.72), weight: 575},
          {location: new google.maps.LatLng(41.69,-87.65), weight: 571},
          {location: new google.maps.LatLng(41.72,-87.61), weight: 570},
          {location: new google.maps.LatLng(41.76,-87.69), weight: 570},
          {location: new google.maps.LatLng(41.93,-87.78), weight: 563},
          {location: new google.maps.LatLng(41.81,-87.70), weight: 563},
          {location: new google.maps.LatLng(41.81,-87.68), weight: 561},
          {location: new google.maps.LatLng(41.94,-87.70), weight: 560},
          {location: new google.maps.LatLng(41.91,-87.77), weight: 558},
          {location: new google.maps.LatLng(41.95,-87.64), weight: 558},
          {location: new google.maps.LatLng(41.73,-87.57), weight: 557},
          {location: new google.maps.LatLng(41.74,-87.54), weight: 556},
          {location: new google.maps.LatLng(41.94,-87.75), weight: 552},
          {location: new google.maps.LatLng(41.78,-87.59), weight: 551},
          {location: new google.maps.LatLng(41.79,-87.68), weight: 549},
          {location: new google.maps.LatLng(41.79,-87.69), weight: 549},
          {location: new google.maps.LatLng(41.74,-87.62), weight: 548},
          {location: new google.maps.LatLng(41.72,-87.56), weight: 546},
          {location: new google.maps.LatLng(41.90,-87.65), weight: 543},
          {location: new google.maps.LatLng(41.94,-87.76), weight: 543},
          {location: new google.maps.LatLng(41.73,-87.61), weight: 542},
          {location: new google.maps.LatLng(41.82,-87.69), weight: 542},
          {location: new google.maps.LatLng(41.69,-87.63), weight: 541},
          {location: new google.maps.LatLng(41.92,-87.63), weight: 529},
          {location: new google.maps.LatLng(41.73,-87.56), weight: 529},
          {location: new google.maps.LatLng(41.80,-87.64), weight: 526},
          {location: new google.maps.LatLng(41.79,-87.73), weight: 525},
          {location: new google.maps.LatLng(41.67,-87.61), weight: 525},
          {location: new google.maps.LatLng(41.75,-87.67), weight: 523},
          {location: new google.maps.LatLng(41.96,-87.76), weight: 521},
          {location: new google.maps.LatLng(41.74,-87.57), weight: 516},
          {location: new google.maps.LatLng(41.71,-87.56), weight: 516},
          {location: new google.maps.LatLng(41.82,-87.68), weight: 513},
          {location: new google.maps.LatLng(41.67,-87.64), weight: 513},
          {location: new google.maps.LatLng(41.74,-87.59), weight: 510},
          {location: new google.maps.LatLng(42.01,-87.69), weight: 509},
          {location: new google.maps.LatLng(41.94,-87.67), weight: 508},
          {location: new google.maps.LatLng(41.83,-87.72), weight: 508},
          {location: new google.maps.LatLng(41.81,-87.63), weight: 508},
          {location: new google.maps.LatLng(41.93,-87.77), weight: 507},
          {location: new google.maps.LatLng(41.93,-87.73), weight: 505},
          {location: new google.maps.LatLng(41.70,-87.53), weight: 504},
          {location: new google.maps.LatLng(41.73,-87.63), weight: 503},
          {location: new google.maps.LatLng(41.78,-87.71), weight: 501},
          {location: new google.maps.LatLng(41.68,-87.65), weight: 499},
          {location: new google.maps.LatLng(41.69,-87.66), weight: 494},
          {location: new google.maps.LatLng(41.91,-87.66), weight: 487},
          {location: new google.maps.LatLng(41.82,-87.63), weight: 485},
          {location: new google.maps.LatLng(41.83,-87.63), weight: 484},
          {location: new google.maps.LatLng(41.69,-87.59), weight: 483},
          {location: new google.maps.LatLng(41.86,-87.68), weight: 480},
          {location: new google.maps.LatLng(41.94,-87.73), weight: 477},
          {location: new google.maps.LatLng(41.71,-87.63), weight: 477},
          {location: new google.maps.LatLng(41.93,-87.69), weight: 476},
          {location: new google.maps.LatLng(41.97,-87.76), weight: 474},
          {location: new google.maps.LatLng(42.00,-87.69), weight: 474},
          {location: new google.maps.LatLng(41.80,-87.63), weight: 473},
          {location: new google.maps.LatLng(41.83,-87.65), weight: 471},
          {location: new google.maps.LatLng(41.71,-87.61), weight: 470},
          {location: new google.maps.LatLng(41.97,-87.68), weight: 469},
          {location: new google.maps.LatLng(41.89,-87.73), weight: 464},
          {location: new google.maps.LatLng(41.98,-87.71), weight: 464},
          {location: new google.maps.LatLng(41.95,-87.68), weight: 463},
          {location: new google.maps.LatLng(41.75,-87.74), weight: 456},
          {location: new google.maps.LatLng(41.96,-87.73), weight: 455},
          {location: new google.maps.LatLng(41.97,-87.67), weight: 455},
          {location: new google.maps.LatLng(41.96,-87.69), weight: 455},
          {location: new google.maps.LatLng(41.95,-87.66), weight: 454},
          {location: new google.maps.LatLng(41.94,-87.74), weight: 453},
          {location: new google.maps.LatLng(41.69,-87.60), weight: 452},
          {location: new google.maps.LatLng(41.97,-87.70), weight: 450},
          {location: new google.maps.LatLng(41.78,-87.72), weight: 444},
          {location: new google.maps.LatLng(41.95,-87.75), weight: 441},
          {location: new google.maps.LatLng(41.77,-87.73), weight: 439},
          {location: new google.maps.LatLng(41.94,-87.68), weight: 438},
          {location: new google.maps.LatLng(41.97,-87.71), weight: 437},
          {location: new google.maps.LatLng(41.74,-87.70), weight: 435},
          {location: new google.maps.LatLng(42.00,-87.68), weight: 426},
          {location: new google.maps.LatLng(41.95,-87.73), weight: 426},
          {location: new google.maps.LatLng(41.93,-87.67), weight: 426},
          {location: new google.maps.LatLng(41.95,-87.76), weight: 426},
          {location: new google.maps.LatLng(41.78,-87.73), weight: 422},
          {location: new google.maps.LatLng(41.90,-87.70), weight: 420},
          {location: new google.maps.LatLng(41.78,-87.63), weight: 419},
          {location: new google.maps.LatLng(41.79,-87.75), weight: 418},
          {location: new google.maps.LatLng(41.84,-87.73), weight: 414},
          {location: new google.maps.LatLng(41.74,-87.69), weight: 409},
          {location: new google.maps.LatLng(41.74,-87.68), weight: 404},
          {location: new google.maps.LatLng(41.95,-87.67), weight: 401},
          {location: new google.maps.LatLng(41.84,-87.63), weight: 400},
          {location: new google.maps.LatLng(41.71,-87.53), weight: 399},
          {location: new google.maps.LatLng(41.97,-87.72), weight: 396},
          {location: new google.maps.LatLng(41.83,-87.66), weight: 396},
          {location: new google.maps.LatLng(41.96,-87.75), weight: 393},
          {location: new google.maps.LatLng(41.92,-87.79), weight: 392},
          {location: new google.maps.LatLng(41.66,-87.62), weight: 390},
          {location: new google.maps.LatLng(41.70,-87.65), weight: 389},
          {location: new google.maps.LatLng(41.85,-87.64), weight: 388},
          {location: new google.maps.LatLng(41.74,-87.72), weight: 387},
          {location: new google.maps.LatLng(41.91,-87.78), weight: 387},
          {location: new google.maps.LatLng(41.94,-87.77), weight: 385},
          {location: new google.maps.LatLng(41.95,-87.77), weight: 383},
          {location: new google.maps.LatLng(41.65,-87.54), weight: 379},
          {location: new google.maps.LatLng(41.77,-87.71), weight: 376},
          {location: new google.maps.LatLng(41.93,-87.63), weight: 374},
          {location: new google.maps.LatLng(41.80,-87.69), weight: 370},
          {location: new google.maps.LatLng(41.96,-87.77), weight: 367},
          {location: new google.maps.LatLng(41.98,-87.70), weight: 366},
          {location: new google.maps.LatLng(41.81,-87.59), weight: 364},
          {location: new google.maps.LatLng(41.75,-87.70), weight: 364},
          {location: new google.maps.LatLng(41.71,-87.65), weight: 363},
          {location: new google.maps.LatLng(41.78,-87.74), weight: 361},
          {location: new google.maps.LatLng(41.83,-87.71), weight: 356},
          {location: new google.maps.LatLng(41.96,-87.64), weight: 355},
          {location: new google.maps.LatLng(41.84,-87.64), weight: 355},
          {location: new google.maps.LatLng(41.74,-87.67), weight: 355},
          {location: new google.maps.LatLng(41.93,-87.79), weight: 353},
          {location: new google.maps.LatLng(41.74,-87.71), weight: 351},
          {location: new google.maps.LatLng(41.94,-87.80), weight: 347},
          {location: new google.maps.LatLng(41.95,-87.78), weight: 347},
          {location: new google.maps.LatLng(41.76,-87.55), weight: 345},
          {location: new google.maps.LatLng(41.99,-87.71), weight: 342},
          {location: new google.maps.LatLng(41.82,-87.67), weight: 338},
          {location: new google.maps.LatLng(41.84,-87.68), weight: 337},
          {location: new google.maps.LatLng(41.76,-87.71), weight: 335},
          {location: new google.maps.LatLng(41.79,-87.71), weight: 330},
          {location: new google.maps.LatLng(41.82,-87.70), weight: 322},
          {location: new google.maps.LatLng(41.66,-87.64), weight: 319},
          {location: new google.maps.LatLng(41.76,-87.70), weight: 317},
          {location: new google.maps.LatLng(41.81,-87.72), weight: 316},
          {location: new google.maps.LatLng(41.80,-87.73), weight: 313},
          {location: new google.maps.LatLng(41.86,-87.74), weight: 313},
          {location: new google.maps.LatLng(41.83,-87.67), weight: 312},
          {location: new google.maps.LatLng(41.84,-87.61), weight: 309},
          {location: new google.maps.LatLng(41.79,-87.74), weight: 304},
          {location: new google.maps.LatLng(41.97,-87.75), weight: 301},
          {location: new google.maps.LatLng(41.97,-87.84), weight: 299},
          {location: new google.maps.LatLng(41.73,-87.59), weight: 292},
          {location: new google.maps.LatLng(41.96,-87.74), weight: 287},
          {location: new google.maps.LatLng(41.93,-87.80), weight: 285},
          {location: new google.maps.LatLng(41.67,-87.65), weight: 282},
          {location: new google.maps.LatLng(41.78,-87.58), weight: 282},
          {location: new google.maps.LatLng(41.70,-87.66), weight: 280},
          {location: new google.maps.LatLng(41.92,-87.80), weight: 279},
          {location: new google.maps.LatLng(41.98,-87.77), weight: 275},
          {location: new google.maps.LatLng(41.86,-87.77), weight: 272},
          {location: new google.maps.LatLng(41.97,-87.77), weight: 272},
          {location: new google.maps.LatLng(41.71,-87.59), weight: 271},
          {location: new google.maps.LatLng(41.75,-87.68), weight: 268},
          {location: new google.maps.LatLng(41.84,-87.65), weight: 265},
          {location: new google.maps.LatLng(41.77,-87.76), weight: 261},
          {location: new google.maps.LatLng(41.79,-87.76), weight: 259},
          {location: new google.maps.LatLng(41.79,-87.77), weight: 258},
          {location: new google.maps.LatLng(41.98,-87.80), weight: 256},
          {location: new google.maps.LatLng(41.94,-87.78), weight: 255},
          {location: new google.maps.LatLng(41.76,-87.72), weight: 254},
          {location: new google.maps.LatLng(41.81,-87.64), weight: 253},
          {location: new google.maps.LatLng(41.83,-87.73), weight: 252},
          {location: new google.maps.LatLng(42.02,-87.66), weight: 251},
          {location: new google.maps.LatLng(41.77,-87.56), weight: 251},
          {location: new google.maps.LatLng(41.85,-87.61), weight: 245},
          {location: new google.maps.LatLng(41.81,-87.74), weight: 243},
          {location: new google.maps.LatLng(41.79,-87.78), weight: 233},
          {location: new google.maps.LatLng(41.71,-87.60), weight: 232},
          {location: new google.maps.LatLng(41.71,-87.57), weight: 231},
          {location: new google.maps.LatLng(41.82,-87.64), weight: 230},
          {location: new google.maps.LatLng(42.00,-87.70), weight: 230},
          {location: new google.maps.LatLng(41.81,-87.67), weight: 229},
          {location: new google.maps.LatLng(41.69,-87.53), weight: 228},
          {location: new google.maps.LatLng(41.82,-87.66), weight: 223},
          {location: new google.maps.LatLng(41.69,-87.68), weight: 222},
          {location: new google.maps.LatLng(41.68,-87.67), weight: 222},
          {location: new google.maps.LatLng(41.80,-87.71), weight: 217},
          {location: new google.maps.LatLng(41.77,-87.77), weight: 217},
          {location: new google.maps.LatLng(41.99,-87.78), weight: 216},
          {location: new google.maps.LatLng(41.94,-87.81), weight: 215},
          {location: new google.maps.LatLng(41.95,-87.69), weight: 213},
          {location: new google.maps.LatLng(41.71,-87.55), weight: 210},
          {location: new google.maps.LatLng(41.75,-87.71), weight: 209},
          {location: new google.maps.LatLng(42.01,-87.70), weight: 209},
          {location: new google.maps.LatLng(41.97,-87.89), weight: 203},
          {location: new google.maps.LatLng(41.69,-87.70), weight: 203},
          {location: new google.maps.LatLng(41.70,-87.68), weight: 201},
          {location: new google.maps.LatLng(41.98,-87.79), weight: 199},
          {location: new google.maps.LatLng(41.74,-87.73), weight: 199},
          {location: new google.maps.LatLng(41.77,-87.74), weight: 198},
          {location: new google.maps.LatLng(41.72,-87.54), weight: 196},
          {location: new google.maps.LatLng(41.98,-87.67), weight: 195},
          {location: new google.maps.LatLng(41.97,-87.78), weight: 193},
          {location: new google.maps.LatLng(41.96,-87.78), weight: 193},
          {location: new google.maps.LatLng(41.94,-87.79), weight: 192},
          {location: new google.maps.LatLng(41.67,-87.66), weight: 189},
          {location: new google.maps.LatLng(41.71,-87.66), weight: 188},
          {location: new google.maps.LatLng(41.78,-87.77), weight: 186},
          {location: new google.maps.LatLng(41.98,-87.76), weight: 185},
          {location: new google.maps.LatLng(41.86,-87.67), weight: 182},
          {location: new google.maps.LatLng(41.97,-87.80), weight: 182},
          {location: new google.maps.LatLng(41.97,-87.83), weight: 176},
          {location: new google.maps.LatLng(41.83,-87.70), weight: 175},
          {location: new google.maps.LatLng(41.98,-87.88), weight: 173},
          {location: new google.maps.LatLng(41.75,-87.73), weight: 172},
          {location: new google.maps.LatLng(41.73,-87.73), weight: 171},
          {location: new google.maps.LatLng(41.86,-87.61), weight: 171},
          {location: new google.maps.LatLng(41.68,-87.53), weight: 170},
          {location: new google.maps.LatLng(41.69,-87.67), weight: 170},
          {location: new google.maps.LatLng(41.91,-87.79), weight: 169},
          {location: new google.maps.LatLng(41.83,-87.68), weight: 169},
          {location: new google.maps.LatLng(41.98,-87.78), weight: 168},
          {location: new google.maps.LatLng(41.78,-87.76), weight: 168},
          {location: new google.maps.LatLng(41.97,-87.74), weight: 165},
          {location: new google.maps.LatLng(41.75,-87.54), weight: 163},
          {location: new google.maps.LatLng(41.94,-87.69), weight: 162},
          {location: new google.maps.LatLng(41.78,-87.78), weight: 161},
          {location: new google.maps.LatLng(41.94,-87.82), weight: 161},
          {location: new google.maps.LatLng(41.75,-87.72), weight: 160},
          {location: new google.maps.LatLng(41.86,-87.76), weight: 160},
          {location: new google.maps.LatLng(41.72,-87.67), weight: 159},
          {location: new google.maps.LatLng(41.72,-87.53), weight: 158},
          {location: new google.maps.LatLng(41.77,-87.75), weight: 158},
          {location: new google.maps.LatLng(41.87,-87.77), weight: 158},
          {location: new google.maps.LatLng(41.99,-87.88), weight: 157},
          {location: new google.maps.LatLng(41.79,-87.79), weight: 157},
          {location: new google.maps.LatLng(41.71,-87.67), weight: 154},
          {location: new google.maps.LatLng(41.77,-87.78), weight: 154},
          {location: new google.maps.LatLng(41.97,-87.73), weight: 153},
          {location: new google.maps.LatLng(41.73,-87.72), weight: 152},
          {location: new google.maps.LatLng(41.73,-87.71), weight: 151},
          {location: new google.maps.LatLng(41.83,-87.60), weight: 151},
          {location: new google.maps.LatLng(41.99,-87.80), weight: 149},
          {location: new google.maps.LatLng(41.74,-87.74), weight: 147},
          {location: new google.maps.LatLng(41.99,-87.79), weight: 147},
          {location: new google.maps.LatLng(41.97,-87.79), weight: 146},
          {location: new google.maps.LatLng(42.00,-87.81), weight: 145},
          {location: new google.maps.LatLng(41.68,-87.68), weight: 145},
          {location: new google.maps.LatLng(41.73,-87.70), weight: 143},
          {location: new google.maps.LatLng(41.98,-87.81), weight: 141},
          {location: new google.maps.LatLng(41.68,-87.60), weight: 137},
          {location: new google.maps.LatLng(41.71,-87.68), weight: 133},
          {location: new google.maps.LatLng(41.70,-87.52), weight: 133},
          {location: new google.maps.LatLng(41.99,-87.72), weight: 129},
          {location: new google.maps.LatLng(41.83,-87.69), weight: 128},
          {location: new google.maps.LatLng(41.93,-87.81), weight: 125},
          {location: new google.maps.LatLng(41.66,-87.55), weight: 124},
          {location: new google.maps.LatLng(41.70,-87.55), weight: 119},
          {location: new google.maps.LatLng(41.98,-87.83), weight: 119},
          {location: new google.maps.LatLng(41.70,-87.54), weight: 118},
          {location: new google.maps.LatLng(41.91,-87.80), weight: 118},
          {location: new google.maps.LatLng(41.91,-87.62), weight: 117},
          {location: new google.maps.LatLng(41.95,-87.79), weight: 117},
          {location: new google.maps.LatLng(41.73,-87.67), weight: 116},
          {location: new google.maps.LatLng(41.84,-87.67), weight: 111},
          {location: new google.maps.LatLng(41.78,-87.79), weight: 110},
          {location: new google.maps.LatLng(41.73,-87.69), weight: 110},
          {location: new google.maps.LatLng(41.99,-87.74), weight: 108},
          {location: new google.maps.LatLng(41.69,-87.71), weight: 108},
          {location: new google.maps.LatLng(41.77,-87.79), weight: 107},
          {location: new google.maps.LatLng(41.70,-87.58), weight: 106},
          {location: new google.maps.LatLng(41.69,-87.69), weight: 104},
          {location: new google.maps.LatLng(41.80,-87.75), weight: 104},
          {location: new google.maps.LatLng(41.99,-87.73), weight: 101},
          {location: new google.maps.LatLng(42.00,-87.65), weight: 100},
          {location: new google.maps.LatLng(41.67,-87.68), weight: 99},
          {location: new google.maps.LatLng(41.97,-87.81), weight: 99},
          {location: new google.maps.LatLng(41.94,-87.83), weight: 97},
          {location: new google.maps.LatLng(41.70,-87.67), weight: 97},
          {location: new google.maps.LatLng(41.90,-87.78), weight: 95},
          {location: new google.maps.LatLng(41.98,-87.74), weight: 95},
          {location: new google.maps.LatLng(41.99,-87.81), weight: 91},
          {location: new google.maps.LatLng(41.72,-87.68), weight: 90},
          {location: new google.maps.LatLng(41.95,-87.80), weight: 88},
          {location: new google.maps.LatLng(41.69,-87.52), weight: 88},
          {location: new google.maps.LatLng(41.65,-87.55), weight: 88},
          {location: new google.maps.LatLng(41.65,-87.53), weight: 87},
          {location: new google.maps.LatLng(41.64,-87.54), weight: 86},
          {location: new google.maps.LatLng(41.65,-87.52), weight: 84},
          {location: new google.maps.LatLng(41.68,-87.70), weight: 84},
          {location: new google.maps.LatLng(41.98,-87.84), weight: 83},
          {location: new google.maps.LatLng(41.70,-87.69), weight: 83},
          {location: new google.maps.LatLng(41.99,-87.75), weight: 81},
          {location: new google.maps.LatLng(41.65,-87.63), weight: 81},
          {location: new google.maps.LatLng(41.84,-87.66), weight: 80},
          {location: new google.maps.LatLng(41.95,-87.83), weight: 80},
          {location: new google.maps.LatLng(41.70,-87.70), weight: 79},
          {location: new google.maps.LatLng(41.70,-87.71), weight: 78},
          {location: new google.maps.LatLng(41.65,-87.64), weight: 78},
          {location: new google.maps.LatLng(41.98,-87.68), weight: 78},
          {location: new google.maps.LatLng(41.64,-87.61), weight: 75},
          {location: new google.maps.LatLng(41.98,-87.82), weight: 74},
          {location: new google.maps.LatLng(42.01,-87.80), weight: 72},
          {location: new google.maps.LatLng(41.81,-87.71), weight: 69},
          {location: new google.maps.LatLng(41.69,-87.54), weight: 66},
          {location: new google.maps.LatLng(42.01,-87.81), weight: 66},
          {location: new google.maps.LatLng(41.98,-87.72), weight: 60},
          {location: new google.maps.LatLng(41.68,-87.72), weight: 60},
          {location: new google.maps.LatLng(41.82,-87.65), weight: 60},
          {location: new google.maps.LatLng(41.95,-87.90), weight: 59},
          {location: new google.maps.LatLng(41.99,-87.76), weight: 57},
          {location: new google.maps.LatLng(41.98,-87.73), weight: 57},
          {location: new google.maps.LatLng(41.82,-87.71), weight: 57},
          {location: new google.maps.LatLng(41.79,-87.57), weight: 56},
          {location: new google.maps.LatLng(41.75,-87.69), weight: 55},
          {location: new google.maps.LatLng(41.90,-87.79), weight: 55},
          {location: new google.maps.LatLng(41.95,-87.81), weight: 54},
          {location: new google.maps.LatLng(41.96,-87.83), weight: 52},
          {location: new google.maps.LatLng(41.67,-87.60), weight: 52},
          {location: new google.maps.LatLng(41.67,-87.67), weight: 50},
          {location: new google.maps.LatLng(42.00,-87.77), weight: 50},
          {location: new google.maps.LatLng(42.00,-87.80), weight: 49},
          {location: new google.maps.LatLng(41.93,-87.82), weight: 49},
          {location: new google.maps.LatLng(41.66,-87.61), weight: 48},
          {location: new google.maps.LatLng(41.79,-87.80), weight: 43},
          {location: new google.maps.LatLng(42.00,-87.76), weight: 43},
          {location: new google.maps.LatLng(41.68,-87.71), weight: 41},
          {location: new google.maps.LatLng(41.81,-87.73), weight: 40},
          {location: new google.maps.LatLng(41.99,-87.77), weight: 40},
          {location: new google.maps.LatLng(41.69,-87.56), weight: 39},
          {location: new google.maps.LatLng(41.81,-87.75), weight: 37},
          {location: new google.maps.LatLng(41.81,-87.65), weight: 36},
          {location: new google.maps.LatLng(41.73,-87.74), weight: 36},
          {location: new google.maps.LatLng(41.97,-87.82), weight: 35},
          {location: new google.maps.LatLng(41.94,-87.63), weight: 35},
          {location: new google.maps.LatLng(42.00,-87.82), weight: 34},
          {location: new google.maps.LatLng(41.78,-87.80), weight: 34},
          {location: new google.maps.LatLng(41.96,-87.63), weight: 32},
          {location: new google.maps.LatLng(41.70,-87.72), weight: 32},
          {location: new google.maps.LatLng(41.73,-87.68), weight: 31},
          {location: new google.maps.LatLng(41.68,-87.54), weight: 31},
          {location: new google.maps.LatLng(41.93,-87.83), weight: 31},
          {location: new google.maps.LatLng(41.76,-87.73), weight: 27},
          {location: new google.maps.LatLng(41.97,-87.91), weight: 26},
          {location: new google.maps.LatLng(41.87,-87.61), weight: 25},
          {location: new google.maps.LatLng(41.66,-87.54), weight: 25},
          {location: new google.maps.LatLng(41.96,-87.84), weight: 24},
          {location: new google.maps.LatLng(41.97,-87.88), weight: 23},
          {location: new google.maps.LatLng(41.90,-87.80), weight: 23},
          {location: new google.maps.LatLng(41.69,-87.72), weight: 22},
          {location: new google.maps.LatLng(41.96,-87.79), weight: 22},
          {location: new google.maps.LatLng(42.01,-87.78), weight: 22},
          {location: new google.maps.LatLng(41.89,-87.60), weight: 22},
          {location: new google.maps.LatLng(41.86,-87.75), weight: 21},
          {location: new google.maps.LatLng(41.78,-87.57), weight: 21},
          {location: new google.maps.LatLng(42.00,-87.79), weight: 20},
          {location: new google.maps.LatLng(41.96,-87.80), weight: 20},
          {location: new google.maps.LatLng(41.97,-87.64), weight: 20},
          {location: new google.maps.LatLng(41.98,-87.90), weight: 20},
          {location: new google.maps.LatLng(41.82,-87.72), weight: 20},
          {location: new google.maps.LatLng(41.64,-87.53), weight: 20},
          {location: new google.maps.LatLng(41.98,-87.75), weight: 19},
          {location: new google.maps.LatLng(41.71,-87.69), weight: 19},
          {location: new google.maps.LatLng(41.70,-87.59), weight: 18},
          {location: new google.maps.LatLng(41.86,-87.60), weight: 18},
          {location: new google.maps.LatLng(41.76,-87.74), weight: 18},
          {location: new google.maps.LatLng(41.77,-87.80), weight: 17},
          {location: new google.maps.LatLng(42.00,-87.78), weight: 16},
          {location: new google.maps.LatLng(41.84,-87.60), weight: 16},
          {location: new google.maps.LatLng(42.01,-87.77), weight: 15},
          {location: new google.maps.LatLng(41.71,-87.54), weight: 15},
          {location: new google.maps.LatLng(41.71,-87.71), weight: 14},
          {location: new google.maps.LatLng(41.95,-87.91), weight: 13},
          {location: new google.maps.LatLng(41.96,-87.90), weight: 9},
          {location: new google.maps.LatLng(41.90,-87.61), weight: 9},
          {location: new google.maps.LatLng(41.68,-87.69), weight: 9},
          {location: new google.maps.LatLng(41.96,-87.88), weight: 9},
          {location: new google.maps.LatLng(41.67,-87.54), weight: 9},
          {location: new google.maps.LatLng(41.99,-87.82), weight: 9},
          {location: new google.maps.LatLng(41.66,-87.58), weight: 8},
          {location: new google.maps.LatLng(41.99,-87.91), weight: 7},
          {location: new google.maps.LatLng(41.70,-87.57), weight: 7},
          {location: new google.maps.LatLng(41.71,-87.58), weight: 7},
          {location: new google.maps.LatLng(41.67,-87.57), weight: 7},
          {location: new google.maps.LatLng(41.71,-87.72), weight: 7},
          {location: new google.maps.LatLng(41.69,-87.55), weight: 7},
          {location: new google.maps.LatLng(41.96,-87.91), weight: 6},
          {location: new google.maps.LatLng(41.96,-87.81), weight: 6},
          {location: new google.maps.LatLng(41.64,-87.55), weight: 6},
          {location: new google.maps.LatLng(41.97,-87.86), weight: 6},
          {location: new google.maps.LatLng(41.71,-87.52), weight: 5},
          {location: new google.maps.LatLng(41.66,-87.59), weight: 5},
          {location: new google.maps.LatLng(41.95,-87.88), weight: 5},
          {location: new google.maps.LatLng(41.97,-87.87), weight: 5},
          {location: new google.maps.LatLng(41.68,-87.55), weight: 5},
          {location: new google.maps.LatLng(41.95,-87.84), weight: 4},
          {location: new google.maps.LatLng(41.67,-87.53), weight: 4},
          {location: new google.maps.LatLng(42.00,-87.90), weight: 4},
          {location: new google.maps.LatLng(41.66,-87.53), weight: 4},
          {location: new google.maps.LatLng(41.81,-87.58), weight: 4},
          {location: new google.maps.LatLng(41.82,-87.74), weight: 4},
          {location: new google.maps.LatLng(41.95,-87.82), weight: 3},
          {location: new google.maps.LatLng(41.68,-87.57), weight: 3},
          {location: new google.maps.LatLng(41.65,-87.58), weight: 3},
          {location: new google.maps.LatLng(41.98,-87.89), weight: 2},
          {location: new google.maps.LatLng(42.00,-87.93), weight: 2},
          {location: new google.maps.LatLng(42.00,-87.92), weight: 2},
          {location: new google.maps.LatLng(41.95,-87.89), weight: 2},
          {location: new google.maps.LatLng(41.92,-87.62), weight: 2},
          {location: new google.maps.LatLng(41.67,-87.58), weight: 2},
          {location: new google.maps.LatLng(42.01,-87.82), weight: 2},
          {location: new google.maps.LatLng(41.64,-87.60), weight: 2},
          {location: new google.maps.LatLng(41.98,-87.92), weight: 2},
          {location: new google.maps.LatLng(41.99,-87.93), weight: 2},
          {location: new google.maps.LatLng(41.82,-87.73), weight: 2},
          {location: new google.maps.LatLng(41.99,-87.90), weight: 1},
          {location: new google.maps.LatLng(41.72,-87.52), weight: 1},
          {location: new google.maps.LatLng(41.96,-87.89), weight: 1},
          {location: new google.maps.LatLng(41.65,-87.56), weight: 1},
          {location: new google.maps.LatLng(41.98,-87.87), weight: 1},
          {location: new google.maps.LatLng(41.66,-87.57), weight: 1},
          {location: new google.maps.LatLng(41.78,-87.75), weight: 1},
          {location: new google.maps.LatLng(41.68,-87.59), weight: 1},
          {location: new google.maps.LatLng(42.00,-87.89), weight: 1},
          {location: new google.maps.LatLng(41.64,-87.56), weight: 1},
          {location: new google.maps.LatLng(41.96,-87.87), weight: 1},
          {location: new google.maps.LatLng(41.67,-87.55), weight: 1},
          {location: new google.maps.LatLng(41.96,-87.92), weight: 1},
          {location: new google.maps.LatLng(41.69,-87.73), weight: 1},
          {location: new google.maps.LatLng(41.65,-87.57), weight: 1},
          {location: new google.maps.LatLng(41.64,-87.57), weight: 1},
          {location: new google.maps.LatLng(36.61,-91.68), weight: 1},
          {location: new google.maps.LatLng(41.99,-87.89), weight: 1},
          {location: new google.maps.LatLng(41.64,-87.59), weight: 1},
          {location: new google.maps.LatLng(41.99,-87.92), weight: 1}
        ];
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA18jMzuWuFQskJh39ivf6O_VPXcc-CzzI&callback=initMap&libraries=visualization">
    </script>
  </body>
</html>